<%= title %>
<% if (flash.error) { %>
  <div class="alert alert-danger">
    <%= flash.error %>
  </div>
<% } %>


<form method="get" form="get" action="/account">

    <label for="account_email">Email address:</label>
    <input type ="email" name="account_email">

    <label for="account_password">Password:</label>
    <input type="password" name="account_password">


    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="#">Sign Up Now</a></p>