<!--Content Heading-->
<% if (title)  {%>
    <h1><% title %></h1>
    <% } else {
        res.redirect('/')
    } %>

    
<!--Message Block-->
<%# messages() %>

<!--Inventory Items Display-->
<% vehicles.forEach(function(vehicle) { %>
    <a href="/inv/inventory/detail?id=<%= vehicle.id %>">View <%= vehicle.name %> Details</a>
  <% }); %>
<%- grid %>