<%# content for /inventory/detail %>
<% title = "vehicle" %>

<% if (typeof vehicleDetail !== 'undefined') { %>
  <%- Util.formatVehicleDetail(vehicleDetail) %>
<% } else { %>
  <h2>No vehicle detail found</h2>
<% } %>