<h1> Inventory Management</h1>
<h2>Manage inventory and classifications</h2>

<a href="./add-classification">Add New Classification</a>
<a href="./add-inventory-item">Add New Inventory</a>
<p><%= flash.message %></p>